/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: roboto;
  src: url(/src/assets/roboto.ttf);
}

body {
  background-color: black;
  font-family: roboto;
}